html{
  background-color:#CDC4AA;
} 
 
 #titulo{
  display:flex; 
  justify-content:center;
  height:200px;
  font-family: 'Rubik Puddles', cursive;
  font-size:70px
 }


#attention{
  display:flex; 
  justify-content:center;
  height:200px;
  FONT-FAMILY:'Inconsolata', Times New Roman;
}
         /* IMAGE */
#mickey{

  height:550px;
  
}